body{background: url(https://res.cloudinary.com/greenprinty/image/upload/v1612464639/mrg293slide/bg_z7xmah.jpg);margin: 0;padding: 0;}

#screen1{position: absolute;top: 30%;left: 50%;transform: translate(-50%,-50%);background-attachment: fixed}
@keyframes Desktop {
	0%   {transform:scale(1)}
	50%  {   transform-origin: top left;
	transform: rotateX(27deg);}
	100% { background: 	#C8C8C8 ; }
}
@-moz-keyframes Desktop{ 
	0%   {transform:scale(1)}
	50%  {   transform-origin: top left;
	transform: rotateX(27deg) ; }
	100% { background: 	#C8C8C8 ; }
}
@-webkit-keyframes Desktop { 
	0%   {transform:scale(1)}
	50%  {   transform-origin: top left;
	transform: rotateX(28deg);}
	100% { background: 	#C8C8C8 ; }
}
#Desktop{
	animation:         Desktop 5s infinite ; 
	-moz-animation:    Desktop 5s infinite ; 
	-webkit-animation: Desktop 5s infinite ; 
	width: 320px;z-index:-100;height:240px;box-shadow: 3px 0px 5px  white
}
@keyframes GoogleAnim {
	0%   {transform:scale(1)}
	50%  { transform:  translate(0, 98px); }
	100% { background: 	#C8C8C8 ; }
}
@-moz-keyframes GoogleAnim{ 
	0%   {transform:scale(1)}
	50%  { transform: translate(0, 98px);}
	100% { background: 	#C8C8C8 ; }
}
@-webkit-keyframes GoogleAnim { 
	0%   {transform:scale(1)}
	50%  { transform: translate(0, 98px); }
	100% { background: 	#C8C8C8 ; }
}
#GoogleAnim {
	animation:         GoogleAnim 5s infinite ; 
	-moz-animation:   GoogleAnim 5s infinite ; 
	-webkit-animation: GoogleAnim 5s infinite ; 
	float:right;position:absolute;width: 320px;height: 240px;border-radius:10px;z-index:-10000;
}
.total{position: absolute;top:70%;background: url(bg.jpg);width: 100%}
.contain{ max-width: 450px;margin: 15px auto;padding-top: 7px;background: url(https://res.cloudinary.com/greenprinty/image/upload/v1612464680/mrg293slide/flower1_jjhrui.gif)
;border-radius: 26px}
#patra{width:222px;display: block;margin: 0 auto;outline: none}
#patri{width:222px;position: relative;bottom: 76px;display: block;margin: 0 auto;outline: none}

    .tainer{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
    .upper{height:150px;border-radius: 8px 8px 0px 0px;;outline: none; }
    .img-upper{background: white;width: 140px;height: 140px;border-radius: 10%;padding: 5px;transform: translate(80px,20px)
    }
    .img-upper img{width: 140px;height: 140px;border-radius: 10%;}
    .lower{height:280px;border-radius: 0px 0px 8px 8px;;outline: none;padding: 20px;padding-top: 40px;
    text-align: center;overflow: hidden}
    .lower h3{box-sizing: border-box;line-height: .6;font-weight: bold;color: #0077FD;font-family: 'Kalpurush', sans-serif;
    background: rgba(0,0,0,0.8);border-radius: 5px;width: 160px;padding: 10px;display: block;margin: 15px auto}
    .lower p{font-size: 16px;color: #0077FD;margin-top: 25px;font-family: 'Kalpurush', sans-serif; background: rgba(0,0,0,0.5);
    padding: 20px;border-radius: 5px;box-shadow: 20px 20px 50px 10px rgba(0,119,253,0.3) inset}

    .tainer1{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
    .upper1{height:150px;border-radius: 8px 8px 0px 0px;outline: none; }
    .img-upper1{background: white;width: 140px;height: 140px;border-radius: 10%;padding: 5px;transform: translate(80px,20px)
    }
    .img-upper1 img{width: 140px;height: 140px;border-radius: 10%;}
    .lower1{height:280px;border-radius: 0px 0px 8px 8px;outline: none;padding: 20px;padding-top: 40px;
    text-align: center;}
    .lower1 h3{box-sizing: border-box;line-height: .6;font-weight: bold;margin-top: 10px;color: #F42AFB;font-family: 'Kalpurush', sans-serif;
   background: rgba(0,0,0,0.8);border-radius: 5px;width: 200px;padding: 12px;display: block;margin: 15px auto}
    .lower1 p{font-size: 16px;color: #F42AFB;margin-top: 26px;font-family: 'Kalpurush', sans-serif;background: rgba(0,0,0,0.5);
    border-radius: 5px;box-shadow: 20px 20px 50px 10px rgba(244,42,251,0.3) inset;padding: 20px}
    h2{text-align: center;color: #FDC400;font-family: 'Kalpurush', sans-serif;font-size: 32px;animation: bounce2 2s ease infinite;}
    @keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
	 .sucu{background: rgba(0,0,0,0.3);border-radius: 50% 50% 5% 5%;padding-top: 26px;box-shadow: 20px 20px 50px 10px rgba(255,255,255,0.7) inset;
     backface-visibility: visible !important;animation: flip 5s ease infinite;}
     @keyframes flip {
	0% {
		transform: perspective(400px) rotateY(0);
		animation-timing-function: ease-out;
	}
	20% {
		transform: perspective(400px) translateZ(150px) rotateY(170deg);
		animation-timing-function: ease-out;
	}
	30% {
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		animation-timing-function: ease-in;
	}
	50% {
		transform: perspective(400px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100% {
		transform: perspective(400px) scale(1);
		animation-timing-function: ease-in;
	}
}

    .subh{text-align: center;font-size: 24px;font-weight: bold;margin-bottom: 10px;color: white;
    font-family: 'Kalpurush', sans-serif;}
    .nai{text-align: center;color: #FDC400;font-family: 'Kalpurush', sans-serif;font-size: 20px;}
    .container{ 
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.countdown{    
    display: flex;
        margin-bottom: 30px;    
}

.countdown div{
    position: relative;
width: 80px;
height: 80px;
line-height: 80px;
text-align: center;
background: rgba(0,0,0,0.3);
border-radius: 50px;
color: white;
margin: 0 5px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -26px;
left: 0;
width: 78px;
height: 25px;
 background: rgba(0,0,0,0.3);
color: #FDC400;font-family: 'Kalpurush', sans-serif;
font-weight: bold;box-shadow: 10px 10px 30px 5px rgba(244,42,251,0.3) inset;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
    .prit{text-align: center;color:white;font-size: 24px;font-weight: bold;font-family: 'Kalpurush', sans-serif;
   margin: 10px auto;border-radius: 23px; }
    .eg{text-align: center;color:#FDC400;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 7px}
    .stha{text-align: center;color:white;font-size: 24px;font-weight: bold;font-family: 'Kalpurush', sans-serif;
    margin: 10px auto;border-radius: 23px;}
    .cu{text-align: center;color:#FDC400;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 20px;}
    .sri{text-align: center;font-family: 'Kalpurush', sans-serif;font-size: 24px;font-weight: bold;padding: 20px;} 
    .proja{text-align: center;font-family: 'Kalpurush', sans-serif;font-size: 27px;width: 280px;padding: 2px;border-radius: 43px;
    display: block;margin: 0 auto;color: #950030; animation: wobble 2s ease infinite;background: rgba(255,255,255,.5)}  
    @keyframes wobble {
  0% { transform: translateX(0%); }
  15% { transform: translateX(-25%) rotate(-5deg); }
  30% { transform: translateX(20%) rotate(3deg); }
  45% { transform: translateX(-15%) rotate(-3deg); }
  60% { transform: translateX(10%) rotate(2deg); }
  75% { transform: translateX(-5%) rotate(-1deg); }
  100% { transform: translateX(0%); }
}

    #fontcss{margin-left: 10px;margin-top: 15px;margin-bottom: 20px;color: #FDC400;font-family: 'Kalpurush', sans-serif;font-size: 22px;}
    .bih{font-family: 'Kalpurush', sans-serif;text-align: justify;text-indent: 40px;margin-left: 10px;margin-right: 10px;
    margin-bottom: 40px;color: #FDC400;font-size: 22px;animation: skew 3s infinite;  transform: skew(20deg);  animation-direction: alternate;}
    @keyframes skew {
  0% {
    transform: skewX(2deg);
  }
  100% {
    transform: skewX(-2deg);
  }
}
    .quni{display: flex;max-width: 100%;justify-content: space-between}
    .quni img {max-width: 60%;}
    .nibe{text-align: right;margin-right: 10px;color: #FDC400;font-family: 'Kalpurush', sans-serif;font-size: 22px;max-width: 40%}
     footer{
    width: 100%;
    height: 100px;
    background: rgba(0,0,0,0.5);
    left: 0;
      right: 0;
      text-align: center;
        }

  footer p{
      text-align: center;
      padding: 7px;
      color: white;
        }  
        a button{width: 100px;height: 30px;border-radius: 16px;background: #03B807;color: white;letter-spacing: 1.5px;font-size: 17px;border: none;}


